.Macaronflex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    align-items: stretch;
}
 @media only screen and (max-width: 480px){
.Macaronflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: stretch;
      margin-top: 5px;
    margin-left: -50px;
    margin-right: 10px;
    margin-bottom: -50px;

}}
#Macaronsbody{
    padding-top: 20px;
    background-color: #EBEAFF;
    padding-bottom: 10px;
}
 @media only screen and (max-width: 480px){
#Macaronsbody{
    padding-top: 30px;
    background-color: #EBEAFF;
    padding-bottom: 70px;
}}
.nav3{
    text-decoration: none;
}